body.resizing-columns {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.grid-view .resizable-columns {
    position:relative
}
.grid-view .resizable-columns .resizer {
    position:absolute;
    top:0;
    right:-8px;
    bottom:0;
    left:auto;
    width:16px;
    cursor:col-resize;
    z-index:1
}